################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
# Visual Studio
backend/.vs/
backend/**/*.suo
backend/**/DocumentLayout.json
backend/**/*.user